
cursor {

}

#container {
	margin-left: 15px;
}

#functionContainer {
	display: none;
}

.red {
	color: red;
}

#description {
	display: block;
}

#textField {
	width: 200px;/*
	margin-bottom: 15px;*/
	display: inline;
}

#showCode {
	display: none;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: default;
}

#functionCode {
	display: none;
	padding: 10px 15px 10px 15px;
	width: intrinsic;
}





